*{
   margin:0 ;
   padding: 0;
   font-family: 'Lato',sans-serif;
}
/* Header */
header.backgroun{
    height: 100vh;
    background-image: url(image/ld2.jpg);
    background-size: cover;
    position: relative;
    z-index: 1;
}
header.backgroun::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( to right, #0970B3 , #0942AB);
    opacity: .9;
    z-index: -1;
}
header .navbar{
    opacity: ;
}
.header{
    color: white;
    height: 100%;
    margin-top: -60px;
}
.header h1{
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 500;
}
.header p{
    margin-bottom: 50px;
}
.header a {
    color: #0274BE;
    font: 20px;
    text-decoration: none;
    width: 80px;
    height: 25px;
    border-radius: 50px;
    background: white;
    padding: 15px 35px;
}
/* icon-section */
.icon-section{
    background-color: rgb(250, 245, 245);
}
.column-section{
    text-align: center;
    padding: 40px;
    box-shadow: 1px 1px 5px #EEEEEE;
    border-radius: 5px;
    background: white;
}
.column-section i.fas {
    color: #0274BE;
    font-size: 45px;
    margin: 10px 0;
}
.column-section i.fab {
    color: #0274BE;
    font-size: 45px;
    margin: 10px 0;
}
.column-section h5{
    font-size: 23px;
    font-weight: 700;
    color: #2F3F50;
    margin: 10px 0;
}
.column-section p{
    color: #2F3F50;
    line-height: 1.9em;
}
.icon-section .row{
    position: relative;
    top: -150px;
    z-index: 2;
}


/* course-secion */
.course-section .popular-course h2{
    font-size: 35px;
    font-weight: 600;
    margin: 25px 0;
    color: #2F3F50;
}
.course-section .popular-course p{
    padding-bottom: 20px;
}
.course-section .new-line{
    text-align: center;
    width: 95%;
    height: 6px;
    background-color:#E2E7ED ;
    border-radius: 5px;
}
.course-section .percent{
    text-align: right;
    
}
.course-section .card-title{
    font-weight: 600;
    font-size: 22px;
    padding: 10px 0;
    
}
.course-section .btn-something{
    background: #3276B1;
    
}
.course-section .percent p{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #0984E3;
    margin-right: 20px;
}
.card{
    margin:0 ;
    padding: 0;
    position: relative;
}
.free{
    position: absolute;
    top: 10px;
    left: -7px;
    display: inline;
    color: White;
    font-size: 13px;
    font-weight: 60px;
    background:#5CB85C;
    padding: 6px 20px;
}


/* Professional Section */
.Professional{
    margin-top: ;
}
.Professional-header h2{
    font-weight: 550;
    margin: 25px;
}
.Professional-header p{}
.flip-flop{
    box-shadow: 3px 4px 15px rgb(200, 193, 193);
}
.Professional .Jone-smith img{
    max-width: 100%;
}

 /* Logo Section */
.logo .right-border{
    border-right: 2px solid #0984E3 ;
}



/* Student Section  */
.student{
    background: rgb(246, 243, 243);
}
.kevin{
    margin-top: 20px;
}
.kevin img{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin-right: 15px;
}
.inner-kevin h6{
 font-weight: 600;
}
.inner-kevin p{
    font-size: 13px;
 font-weight: 500;
}
.student-header h2{
 text-align: center;
 font-weight: 600;
 color: #374757;
 margin-bottom: 15px;
}

.student-section{
    background: white;
    border-radius: 5px;
    box-shadow: 3px 4px 5px 5px rgb(245, 241, 241) ;
    padding:25px;
}

/* Happy Section */
.Happy{
    background-color: #003BB1;
    border-bottom: 1px solid #3362C1;
}
.Happy h2{
    font-weight: 500;
    padding: 35px 0;
}
.Happy p{
    font-size: 14px;
    letter-spacing: 0.08em;
    line-height: 1.9em;
    margin-bottom: 45px;
}
footer{
    background-color: #003BB1;
}